/* -------------------------------------------- */
/* RESULT PAGE */
/* -------------------------------------------- */

.result-bg {
    background: linear-gradient(135deg, #021B79, #0575E6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-card {
    width: 500px;
    background: rgba(255, 255, 255, 0.12);
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    color: white;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.url-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.result-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    margin-bottom: 25px;
}

.result-box.safe {
    background: rgba(0, 255, 0, 0.2);
    color: #9aff9a;
}

.result-box.danger {
    background: rgba(255, 0, 0, 0.2);
    color: #ffb3b3;
}

.back-btn {
    color: white;
    text-decoration: none;
    background: #007bff;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
}

.back-btn:hover {
    background: #0056d2;
}

/* -------------------------------------------- */
/* DASHBOARD PAGE */
/* -------------------------------------------- */

.dashboard-bg {
    background: linear-gradient(135deg, #000428, #004e92);
    min-height: 100vh;
    padding: 40px;
    color: white;
}

.dashboard-container {
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
}

.dashboard-table th {
    background: rgba(255,255,255,0.2);
    padding: 12px;
    font-size: 18px;
}

.dashboard-table td {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.safe-text {
    color: #7CFC00;
    font-weight: bold;
}

.danger-text {
    color: #FF7373;
    font-weight: bold;
}
